:root {
	--bgcolor: #181a1b;
	--fgcolor: rgb(211, 207, 201);
	--elecolor: #125ab8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--bgcolor);
	font-size: 16px;
	color: var(--fgcolor);
	font-family: 'Arial', sans-serif;
	letter-spacing: .02rem;


}

body {
	font-weight: 400;
	line-height: 1.7;
	padding: 30px;
	overflow: hidden;

}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 90vh;

}

.form-container,
.outputSection {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 30px;
}

.item {
	padding: 10px;
	margin: 10px;
	width: 100%;
}

input,
button {
	border: none;
	outline: none;
	appearance: textfield;
	width: 100%;

}

.form-container>* {
	margin: 10px 0;
}

select {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	border: solid 1px var(--fgcolor);
	cursor: pointer;
}

label {
	display: block;
}

.textarea {
	border-bottom: solid 1px var(--fgcolor);
}

.submitButton {
	background-color: var(--elecolor);
	padding: 10px;
	margin: 40px auto;
	color: var(--fgcolor);
	border-radius: 20px;
	text-transform: capitalize;
	cursor: pointer;
	text-align: center;
	appearance: button;
	-moz-appearance: button;
}

#loading,
#displaymsg {
	display: none;
}

.outputSection>* {
	text-align: center;
}

.imagecontainer {

	display: flex;
	align-items: center;
	justify-content: center;
}

.imagecontainer>IMG {
	object-fit: cover;
	text-align: center;
}